  .problems-list
    display: block
    .problem-bk
      height: 290px
      background-image: url("images/sprite.png")
      display: inline-block
      width: 100%
      font-size: 18px
      line-height: 20px
      padding-top: 110px
      
      font-family: 'Oswald DemiBoldItalic',sans-serif
      &:after
        display: block
        margin: 0 auto
        width: 2px
        height: 30px
        content: ''
        background: #3cc47c
        margin-left: 88px
      span
        vertical-align: text-bottom
        color: #bd1522
    .problem-1-bk
      background-position: -3852px -1956px
      text-align: center
      display: inline-block
      p
        margin-bottom: 35px
      &:after
        margin-top: -56px

    .problem-2-bk
      background-position: -3672px -2156px
      display: inline-block
      p
        margin-bottom: 53px
      &:after
        margin-top: -79px 
    .problem-3-bk
      background-position: -3492px -2356px
      p
        margin-bottom: 53px
      &:after
        margin-top: -79px
    .problem-4-bk
      background-position: -4032px -1756px
      p
        margin-bottom: 70px
      &:after
        margin-top: -76px
    .problem-5-bk
      background-position: -3312px -2556px
      p
        margin-bottom: 50px
      &:after
        margin-top: -52px
